# -------------------------------------------------------
#  ####   ####  #    # #####   ####   ####  ###### #####
# #    # #    # ##  ## #    # #    # #      #      #    #
# #      #    # # ## # #    # #    #  ####  #####  #    #
# #      #    # #    # #####  #    #      # #      #####
# #    # #    # #    # #      #    # #    # #      #   #
#  ####   ####  #    # #       ####   ####  ###### #    #
# -------------------------------------------------------
vendor/
composer.lock

# ----------------------------
# #    #  ####  #####  ###### 
# ##   # #    # #    # #      
# # #  # #    # #    # #####  
# #  # # #    # #    # #      
# #   ## #    # #    # #      
# #    #  ####  #####  ###### 
# ----------------------------
node_module/

# ---------------
#   ####   ####
#  #    # #
#  #    #  ####
#  #    #      #
#  #    # #    #
#   ####   ####
# ---------------

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Mac OS
.DS_Store

# ----------------
# # #####  ###### 
# # #    # #      
# # #    # #####  
# # #    # #      
# # #    # #      
# # #####  ###### 
# ----------------

# NetBeans
nbproject/

# PhpStorm
.idea/

# VSCode
.vscode/

# -----------------------------------------
# ######
# #     # #####   ####       # ###### #####
# #     # #    # #    #      # #        #
# ######  #    # #    #      # #####    #
# #       #####  #    #      # #        #
# #       #   #  #    # #    # #        #
# #       #    #  ####   ####  ######   #
# -----------------------------------------

cache/*/
videos/*

logs/*
!logs/README.md
*.log
